<!-- <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  
      <title>Team Profile Generator</title>
  </head>
  <body>
      <header class= "jumbotron bg-info height-200px text-center"> 
        <span style = "font-size:4rem; font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Team Profile</span>
      </header>
      <div class="container w-80% ">
          <section class="row justify-content-center">
          
<div class= "col-4 mb-3">
<div class="card shadow-lg rounded" style="width: 18rem">
<div class="card-title bg-info text-center ">
    <h3>Kento Nanami</h3>
    <h5 class="sub-title"><img src="./assets/Coffee.png" alt="Coffee"/> Manager</h5>
</div>
<ul class="card-body">
    <h6 class="card-text">ID: 2</h6>
    <h6 class="card-text">Email:<a href="mailto:chandlerbing@gmail.com">chandlerbing@gmail.com</a> </h6>
    <h6 class="card-text">Office Number: 5</h6>
</ul>       
</div>
</div>
<div class= "col-4 mb-3">
<div class="card shadow-lg rounded " style="width: 18rem">
<div class="card-title bg-info text-center  ">
    <h3>Rachel Green </h3>
    <h5 class="sub-title"><img src="./assets/Glasses.png" alt="Glasses"/> Engineer</h5>
</div>
<ul class=" card-body">
    <h6 class="card-text">ID: 3</h6>
    <h6 class="card-text">Email:<a href="mailto:rachelgreen@gmail.com">rachelgreen@gmail.com</a> </h6>
    <h6 class="card-text">GitHub:<a href="https://github.com/anushaselvan">anushaselvan</a></h6>
</ul>       
</div>
</div>
<div class= "col-4 mb-3">
<div class="card shadow-lg rounded " style="width: 18rem">
<div class="card-title bg-info text-center  ">
    <h3>Satoru Gojo</h3>
    <h5 class="sub-title"><img src="./assets/Glasses.png" alt="Glasses"/> Engineer</h5>
</div>
<ul class=" card-body">
    <h6 class="card-text">ID: 6</h6>
    <h6 class="card-text">Email:<a href="mailto:satorugojo@gmail.com">satorugojo@gmail.com</a> </h6>
    <h6 class="card-text">GitHub:<a href="https://github.com/gojosat">gojosat</a></h6>
</ul>       
</div>
</div>
  <div class= "col-4 mb-3">
  <div class="card shadow-lg rounded " style="width: 18rem">
  <div class="card-title bg-info text-center  ">
      <h3>Yuta Okkotsu</h3>
      <h5 class="sub-title"><img src="./assets/Intern.png" alt="Intern"/> Intern</h5>
  </div>
  <ul class=" card-body">
      <h6 class="card-text">ID: 8</h6>
      <h6 class="card-text">Email:<a href="mailto:regina@gmail.com">regina@gmail.com</a> </h6>
      <h6 class="card-text">School: Unknown University</h6>
  </ul>       
  </div>
  </div>
  <div class= "col-4 mb-3">
  <div class="card shadow-lg rounded " style="width: 18rem">
  <div class="card-title bg-info text-center  ">
      <h3>Yuji Itadori</h3>
      <h5 class="sub-title"><img src="./assets/Intern.png" alt="Intern"/> Intern</h5>
  </div>
  <ul class=" card-body">
      <h6 class="card-text">ID: 10</h6>
      <h6 class="card-text">Email:<a href="mailto:yujiyuji411@gmail.com">kenadams@gmail.com</a> </h6>
      <h6 class="card-text">School: Kyoto Metropolitan Technical College</h6>
  </ul>       
  </div>
  </div>
          </section>
      </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </html> -->